Package: com.iosre.rootdaemond
Name: rootdaemond
Depends: firmware (>= 5.0)
Version: 1.0
Architecture: iphoneos-arm
Description: An example of iOS daemon
Maintainer: snakeninny
Author: snakeninny
Section: System
